body{
  font-family: "Times New Roman";
  background-image:
          url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVJ9HXQhIOZjIVu3QvuSLrVth84FbxtJ1L5Q&usqp=CAU");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
head{
  font-family: "Times New Roman";
  font-size: 50px;
}
h2{
  text-align: center;
  font-family: "Times New Roman";
  font-size: 50px;

}

p{
  text-align: center;
  font-family: "Times New Roman";
  font-size: 30px;
}